<div class="panel">

  <label for="filter">Filter</label>
  <input id="filter" placeholder="Filter by name..." class="input" type="text" name="filter">

  <label for="orderBy">Order by</label>
  <select name="order" class="input" id="orderBy">
    <option class="black" value="asc">ASC</option>
    <option class="black" value="desc">DESC</option>

  </select>

</div>
<div class="panel">

  <div class="" *ngFor="let starship of starships ">
    <a [routerLink]="['/starships/', splitUrl(starship.url)]">
      <div class="character">
        <span>{{ starship.name}}</span>
      </div>
    </a>

  </div>
  

  <div class="space"></div>
  <button *ngIf="backPage != null" class="btn btn-grey" (click)="getStarshipByPage(backPage)">Back</button>
  <button *ngIf="nextPage != null" class="btn btn-yellow" (click)="getStarshipByPage(nextPage)">Next</button>
</div>