<div class="container">
      
        <div class="panel">
          <div class="row">
            <div class="column">
              <div >
                <span class="detail">Name: {{ character.name }}</span>
                <span class="detail"><strong>Gender: </strong>{{ character.gender }} </span>
                <span class="detail"><strong>Birth Year:</strong> {{ character.birth_year }}</span>
                <span class="detail"><strong>Height:</strong>{{ character.height }}</span>
                <span class="detail"><strong>Mass:</strong> {{ character.mass }} </span>
                <span class="detail"><strong>Hair Color:</strong> {{ character.hair_color }} </span>
                <span class="detail"><strong>Skin Color:</strong> {{ character.skin_color }} </span>
                <span class="detail"><strong>Eye Color:</strong>  {{ character.eye_color }}</span>
                <span class="detail"><strong>Specie:</strong></span>
              </div>
            </div>

          </div>
        </div>
      </div>
      