<div class="container">
      
        <div class="panel">
          <div class="row">
            <div class="column">
              <div >
                <span class=""><strong>Name:</strong> </span>
                <span class=""><strong>Gender:</strong> </span>
                <span class=""><strong>Birth Year:</strong> </span>
                <span class=""><strong>Height:</strong></span>
                <span class=""><strong>Mass:</strong> </span>
                <span class=""><strong>Hair Color:</strong> </span>
                <span class=""><strong>Skin Color:</strong> </span>
                <span class=""><strong>Eye Color:</strong> </span>
              </div>
            </div>

          </div>
        </div>
      </div>
      