<div class="panel">
    <span class="title-name"> WHAT IS THIS? </span>
    <div style="margin-top: 10px;">This page is a challenge proposed by Inatel for the allocation of human resources, to obtain new skills for other projects.</div>
</div>

<div class="panel">
    <span class="title-name"> WHAT I LEARNED?</span>
    <div>
        <div style="margin-top: 10px;">In addition to learning about the characters and starships of Star Wars, I learned a little Angular 4:</div>
        <div style="margin-top: 10px;"> - create and compile projects with Angular CLI;</div>
        <div style="margin-top: 10px;"> - links and routes (with parameter);</div>
        <div style="margin-top: 10px;"> - consume Json from API;</div>
        <div style="margin-top: 10px;"> - create repository to commit projects in GitHub;</div>
    </div>
</div>