<div class="panel">

  <label for="filter">Filter</label>
  <input id="filter" placeholder="Filter by name..." class="input" type="text" name="filter" [(ngModel)]="filter">

  <label for="orderBy">Order by</label>
  <select name="order" ng-value="asc" class="input" id="orderBy" [(ngModel)]="order">
    <option class="black" selected value="asc">ASC</option>
    <option class="black" value="desc">DESC</option>

  </select>

</div>

<div class="panel">
  <div class="" *ngFor="let character of characters | filterPipe: filter | orderBy: order" >
    <a [routerLink]="['/characters/', splitUrl(character.url) ]">
      <div class="character">
        <span>{{ character.name}}</span>
      </div>
    </a>

  </div>
  <div class="space"></div>
  <button *ngIf="backPage != null" class="btn" (click)="getCharascterByPage(backPage)">Back</button>
  <button *ngIf="nextPage != null" class="btn" (click)="getCharascterByPage(nextPage)">Next</button>
</div>