
    
  <div class="panel title-name">
      {{ starship.name }}
  </div>
  <div class="panel">
    <div class="row">
      <div class="column">
        <div class="details">
          
          <span class="detail"><strong>Model:</strong> {{ starship.model }}</span>
          <span class="detail"><strong>Manufacturer:</strong> {{ starship.manufacturer }}</span>
          <span class="detail"><strong>Cost in Credits:</strong> {{ starship.cost_in_credits }}</span>
          <span class="detail"><strong>Length:</strong> {{ starship.length }}</span>
          <span class="detail"><strong>Max Atmosphering Speed:</strong> {{ starship.max_atmosphering_speed }}</span>
          <span class="detail"><strong>Crew:</strong> {{ starship.crew }}</span>
          <span class="detail"><strong>Passengers:</strong> {{ starship.passengers }}</span>
          <span class="detail"><strong>Cargo Capacity:</strong> {{ starship.cargo_capacity }}</span>
          <span class="detail"><strong>Consumables:</strong> {{ starship.consumables }}</span>
          <span class="detail"><strong>Hyperdrive Rating:</strong> {{ starship.hyperdrive_rating }}</span>
          <span class="detail"><strong>MGLT:</strong> {{ starship.MGLT }}</span>
          <span class="detail"><strong>Starship Class:</strong> {{ starship.starship_class }}</span>
         
          

        
        </div>
      </div>
    </div>

  </div>
  
  <div class="panel">
      <span class="title-name">Pilots:</span>
      <span  *ngFor="let pilot of characters">
        <a class="pilots" [routerLink]="['/characters/' , splitUrlCharacter(pilot.url)]"> {{ pilot.name }}</a>
        
      </span>
  </div>

  
