
  <div class="panel">
    <div class="row">
      <div class="column">
        <div class="details">
          <span class="description"><strong>Name:</strong>{{ starship.name }} </span>
          <span class="description"><strong>model:</strong> </span>
          <span class="description"><strong>Manufacturer:</strong></span>
          <span class="description"><strong>Cost in Credits:</strong> </span>
          <span class="description"><strong>Length:</strong></span>
          <span class="description"><strong>Max Atmosphering Speed:</strong> </span>
          <span class="description"><strong>Crew:</strong></span>
          <span class="description"><strong>Passengers:</strong> </span>
          <span class="description"><strong>Cargo Capacity:</strong> </span>
          <span class="description"><strong>Consumables:</strong></span>
          <span class="description"><strong>Hyperdrive Rating:</strong> </span>
          <span class="description"><strong>MGLT:</strong></span>
          <span class="description"><strong>Starship Class:</strong> </span>
        </div>
      </div>
    </div>
  </div>
