 body{
    background-image:url('assets/img/stars.gif');
    border-color: black;
}

.logo{
    width:250px;
    margin-top: 20px;
}

.page{
  text-align: center
}

.panel{

  max-width:900px;
  margin:20px 0;
  padding:15px;
  border-radius: 3px;
  background-color: #f7f7f794;

}


.footer{
    color: #ffc31f;
    font-family: Verdana;
    font-weight: bold;
    font-size: 12px;
    text-align: center; 
}

.detail{
  display: inline-block;
  width: 100%;
  text-align: left;
  
}


a {
    color: #ffc31f;
    transition:all 0.3s linear;
    text-decoration: none;

  }

  a:hover{
    color:#fafafa;
    transition:all 0.3s linear;
  }

  .menu{
    max-width:900px;
    display: inline-block;
    font-family: Verdana;
    font-weight: bold;
    margin: 20px;
    
  }

  .menu ul li {
    text-align: center;
    display: inline-block; 
    
  }

  .menu ul li a{
    display: inline-block;
    font-size: 25px;
    padding:5px 10px;
   
  }
  .menu ul li a:hover{
    color:#fafafa;
    text-decoration: none;
  }


  .character{
    display: block;
    text-align: center;
    padding: 8px;
  }

  .btn{
    margin: 0 auto;
    width: 70px;
    height: 25px;
    color: #000;
    text-align: center;

    border: none;
    border-radius: 5px;
    background-color: #ffc31f;
    font-weight: bolder;
  }

  .space{
    margin-bottom: 15px;
    display: block;
    clear: both;
  }
  .input{
    max-width: 70%;
    border-radius: 5px;
    height: 20px;
  }

  .pilots{
    margin-top: 20px;
    color:#ffc31f; 
    text-align: center;
    display: block;
    
  }
  .title-name{
    color:#ffc31f; 
    text-align: center;
    font-weight: bolder;
    display: block;
    
  }
