 body{
    background-image:url('assets/img/stars.gif');
    
}

.logo{
    width:250px;
    margin-top: 20px;
}

.page{
  text-align: center
}

.footer{
    color: #ffc31f;
    font-family: Verdana;
    font-weight: bold;
    font-size: 12px;
    text-align: center; 
}

a {
    color: #ffc31f;
    transition:all 0.3s linear;
    text-align: center;
  }

  .menu{
    max-width:900px;
    display: inline-block;
    font-family: Verdana;
    font-weight: bold;
    margin: 20px;
    
  }

  .menu ul li {
    text-align: center;
    display: inline-block; 
  }

  .menu ul li a{
    display: inline-block;
    font-size: 25px;
    padding:5px 10px;
  }

  .panel{
    text-align: center;
    max-width:900px;
    margin:20px 0;
    padding:15px;
    border-radius: 3px;
    background-color: #f7f7f794;
  }

  .people-name{
    display: block;
    text-align: center;
  }